*.dat
*.ini
*.manifest
*.pyc
*.pyd
*.spec
Builds/
Library/
Temp/
*.csproj
*.sln
*.userprefs
obj/*
build/
dist/
.idea/
Output/*
.vs/*
*/Thumbs.db
*/Thumbs.db.meta
Thumbs.db
Thumbs.db.meta
*.user
*.cache
#stop adding this to the repo
unity/Assets/Particle.meta
unity/Assets/Prefabs/Balloons.meta
unity/Assets/WaterPlus/Temp.meta
.DS_Store
